.signUpContainer {
  height: 100vh;
  display: grid;
  place-content: center;
}

.container-wrapper {
  position: relative;
  width: 850px;
  height: 500px;
  box-shadow: 25px 30px 55px var(--orange);
  border-radius: 13px;
  overflow: hidden;
}

.form-container {
  position: absolute;
  width: 60%;
  height: 100%;
  padding: 0 40px;
  transition: all 1s ease-in-out;
}

.form-container > form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.social-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-container .social {
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.social-container .social:nth-child(1):hover {
  background: blue;
  color: #fff !important;
}
.social-container .social:nth-child(2):hover {
  background: green;
  color: #fff !important;
}
.social-container .social:nth-child(3):hover {
  background: var(--iconColor);
  color: #fff !important;
}
.form-container > span {
  font-size: 12px;
}

.form-container .infield {
  position: relative;
  margin: 8px 0;
  width: 100%;
}

.form-container .infield .input {
  width: 100%;
  padding: 12px 8px;
  background: #cdb5b5;
  border: none;
  outline: none;
}

.form-container .infield .label {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: var(--orange);
  transition: 0.3s;
}
.input:focus ~ .label {
  width: 100%;
}

.forgot {
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  padding-bottom: 3px;
  border-bottom: 2px solid #c0a2a2;
}

.signUp-btn {
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form-container .signUp-btn {
  margin-top: 17px;
}

/* .form-container .signUp-btn:hover {
  background: #fff;
  color: var(--orange);
} */
.goTo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 340px;
  position: absolute;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow: hidden;
  transition: all 1s ease-in-out;
  background: linear-gradient(to bottom right, var(--orange), rgb(59, 178, 97));
}

.goTo-container h2 {
  color: #fff;
}
.goTo-container p {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1.5px;
  margin: 25px 0 35px;
  text-transform: capitalize;
}

.goTo-logIn,
.goTo-signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 70%;
}
